
.web {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 3%;
    margin-bottom: 3%;
    padding: 2%;
}


.form {
    width: 35%;
}

.form h2 {
    margin-bottom: 5%;
    word-spacing: 5px;
    letter-spacing: 2px;
}

.input-container {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    width: 100%;
    margin-bottom: 10%;
  }

.icon {
    padding: 10px;
    background: orangered;
    color: white;
    min-width: 50px;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
  }
  
  /* Style the input fields */
  .input-field {
    width: 100%;
    height: 8vh;
    padding: 10px;
    outline: none;
    border: 1px solid black;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .input-field:focus {
    border: 2px solid orangered;
  }
  
  /* Set a style for the submit button */
  .btn {
    background-color:  orangered;
    color: white;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    width: 50%;
    border-radius: 5px;
    opacity: 0.9;
    letter-spacing: 2px;
    font-size: 100%;
  }
  
  .btn:hover {
    opacity: 1;
    text-decoration: underline;
  }